<h1>Lista de Animes</h1>
<form method="get">
    <input type="text" name="q" placeholder="Pesquisar anime">
    <button type="submit">Buscar</button>
</form>

<ul>
    {% for anime in animes %}
    <li>
        <h2>{{ anime.title }}</h2>
        <img src="{{ anime.image_url }}" width="150">
        <p>{{ anime.synopsis }}</p>
        <a href="{% url 'add_favorito' anime.mal_id %}"> Adicionar aos Favoritos</a>
    </li>
    {% empty %}
    <li>Nenhum anime encontrado.</li>
    {% endfor %}
</ul>

<a href="{% url 'favoritos' %}"> Ver Favoritos</a>

